<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>东经</key>
		<string>121.5123</string>
		<key>停车信息</key>
		<string>10</string>
		<key>公交信息</key>
		<array>
			<string>14</string>
			<string>6</string>
			<string>713</string>
			<string>843</string>
			<string>103</string>
			<string>960</string>
			<string>80</string>
			<string>220</string>
			<string>70</string>
			<string>地铁8号线</string>
		</array>
		<key>其他信息</key>
		<string></string>
		<key>北纬</key>
		<string>31.2761</string>
		<key>名称</key>
		<string>川香演义(鞍山路店)</string>
		<key>地址</key>
		<string>杨浦区鞍山路88号(近本溪路)</string>
		<key>电话</key>
		<string>021-3530647</string>
		<key>营业时间</key>
		<array>
			<string>9:00</string>
			<string>23:00</string>
		</array>
		<key>餐厅特色</key>
		<array>
			<string>供应夜宵 </string>
			<string>免费停车</string>
			<string>有午市套餐</string>
			<string>可送外卖</string>
		</array>
	</dict>
	<dict>
		<key>东经</key>
		<string>121.5085</string>
		<key>停车信息</key>
		<string>10</string>
		<key>公交信息</key>
		<array>
			<string>220</string>
			<string>6</string>
			<string>70</string>
			<string>地铁8号线</string>
		</array>
		<key>其他信息</key>
		<string></string>
		<key>北纬</key>
		<string>31.2726</string>
		<key>名称</key>
		<string>歌特酒馆</string>
		<key>地址</key>
		<string>杨浦区控江路2108号(近打虎山路口)</string>
		<key>电话</key>
		<string>021-65035708</string>
		<key>营业时间</key>
		<array>
			<string></string>
		</array>
		<key>餐厅特色</key>
		<array>
			<string>供应夜宵</string>
		</array>
	</dict>
	<dict>
		<key>东经</key>
		<string>121.5096</string>
		<key>停车信息</key>
		<string>10</string>
		<key>公交信息</key>
		<array>
			<string>22</string>
			<string>25</string>
			<string>47</string>
			<string>853</string>
			<string>17</string>
			<string>地铁4号线</string>
		</array>
		<key>其他信息</key>
		<string></string>
		<key>北纬</key>
		<string>31.2585</string>
		<key>名称</key>
		<string>海烟大酒店中餐厅</string>
		<key>地址</key>
		<string>虹口区保定路325号(唐山路昆明路间)</string>
		<key>电话</key>
		<string>021-35109888</string>
		<key>营业时间</key>
		<array>
			<string></string>
		</array>
		<key>餐厅特色</key>
		<array>
			<string>免费停车</string>
			<string>可以刷卡</string>
			<string>可办大型宴会</string>
		</array>
	</dict>
	<dict>
		<key>东经</key>
		<string>121.5018</string>
		<key>停车信息</key>
		<string>10</string>
		<key>公交信息</key>
		<array>
			<string>55</string>
			<string>910</string>
			<string>61</string>
			<string>746</string>
			<string>79</string>
			<string>70</string>
			<string>962</string>
			<string>147</string>
			<string>地铁8号线</string>
			<string>地铁10号线</string>
		</array>
		<key>其他信息</key>
		<string></string>
		<key>北纬</key>
		<string>31.2740</string>
		<key>名称</key>
		<string>汉釜轩韩国烧烤</string>
		<key>地址</key>
		<string>虹口区大连路1599号骏丰国际财富广场3楼(近四平路)</string>
		<key>电话</key>
		<string>021-55152468</string>
		<key>营业时间</key>
		<array>
			<string>11:00</string>
			<string>22:00</string>
		</array>
		<key>餐厅特色</key>
		<array>
			<string>可以刷卡</string>
			<string>免费停车</string>
			<string>有午市套餐</string>
			<string>有无烟区</string>
		</array>
	</dict>
	<dict>
		<key>东经</key>
		<string>121.5078</string>
		<key>停车信息</key>
		<string>10</string>
		<key>公交信息</key>
		<array>
			<string></string>
		</array>
		<key>其他信息</key>
		<string></string>
		<key>北纬</key>
		<string>31.2731</string>
		<key>名称</key>
		<string>豪享来(打虎山路店)</string>
		<key>地址</key>
		<string>杨浦区打虎山路100号(近锦西路)</string>
		<key>电话</key>
		<string>021-33776661</string>
		<key>营业时间</key>
		<array>
			<string></string>
		</array>
		<key>餐厅特色</key>
		<array>
			<string>可以刷卡</string>
			<string>有下午茶</string>
			<string>供应夜宵</string>
			<string>可送外卖</string>
		</array>
	</dict>
	<dict>
		<key>东经</key>
		<string>121.4934</string>
		<key>停车信息</key>
		<string>10</string>
		<key>公交信息</key>
		<array>
			<string>528</string>
			<string>123</string>
		</array>
		<key>其他信息</key>
		<string></string>
		<key>北纬</key>
		<string>31.2721</string>
		<key>名称</key>
		<string>群龙无首小菜</string>
		<key>地址</key>
		<string>虹口区曲阳路158号瑞峰商务楼105;106室(近祥德路)</string>
		<key>电话</key>
		<string>021-56389912</string>
		<key>营业时间</key>
		<array>
			<string></string>
		</array>
		<key>餐厅特色</key>
		<array>
			<string>可送外卖</string>
			<string>免费停车</string>
		</array>
	</dict>
	<dict>
		<key>东经</key>
		<string>121.4941</string>
		<key>停车信息</key>
		<string>10</string>
		<key>公交信息</key>
		<array>
			<string>123</string>
			<string>14</string>
			<string>146</string>
			<string>55</string>
			<string>576</string>
			<string>528</string>
			<string>61</string>
			<string>910</string>
			<string>地铁10号线</string>
		</array>
		<key>其他信息</key>
		<string></string>
		<key>北纬</key>
		<string>31.2692</string>
		<key>名称</key>
		<string>卧云茶叙</string>
		<key>地址</key>
		<string>虹口区曲阳路26号(近四平路)</string>
		<key>电话</key>
		<string>021-36336090</string>
		<key>营业时间</key>
		<array>
			<string>10:00</string>
			<string>1:00</string>
		</array>
		<key>餐厅特色</key>
		<array>
			<string>无线上网</string>
			<string>有下午茶</string>
			<string>可以刷卡</string>
			<string>免费停车</string>
		</array>
	</dict>
	<dict>
		<key>东经</key>
		<string>121.5039</string>
		<key>停车信息</key>
		<string>10</string>
		<key>公交信息</key>
		<array>
			<string>55</string>
			<string>61</string>
			<string>115</string>
			<string>123</string>
			<string>142</string>
			<string>147</string>
			<string>554</string>
			<string>576</string>
			<string>746</string>
			<string>817</string>
			<string>地铁8号线</string>
		</array>
		<key>其他信息</key>
		<string></string>
		<key>北纬</key>
		<string>31.2782</string>
		<key>名称</key>
		<string>小尾羊(四平路店)</string>
		<key>地址</key>
		<string>杨浦区四平路1147弄1号近赤峰路()</string>
		<key>电话</key>
		<string>021-65979345</string>
		<key>营业时间</key>
		<array>
			<string>11:00</string>
			<string>24:00</string>
		</array>
		<key>餐厅特色</key>
		<array>
			<string>免费停车</string>
			<string>可以刷卡</string>
			<string>供应夜宵</string>
			<string>是老字号</string>
			<string>供应早餐</string>
		</array>
	</dict>
	<dict>
		<key>东经</key>
		<string>121.4962</string>
		<key>停车信息</key>
		<string>10</string>
		<key>公交信息</key>
		<array>
			<string>578</string>
			<string>14</string>
			<string>61</string>
			<string>910</string>
			<string>55</string>
			<string>123</string>
			<string>863</string>
			<string>地铁10号线</string>
		</array>
		<key>其他信息</key>
		<string></string>
		<key>北纬</key>
		<string>31.2704</string>
		<key>名称</key>
		<string>又一村</string>
		<key>地址</key>
		<string>虹口区四平路591号(近新港路)</string>
		<key>电话</key>
		<string>021-65084002</string>
		<key>营业时间</key>
		<array>
			<string>5:00</string>
			<string>21:00</string>
		</array>
		<key>餐厅特色</key>
		<array>
			<string>供应早餐</string>
			<string>是老字号</string>
			<string>可送外卖</string>
		</array>
	</dict>
	<dict>
		<key>东经</key>
		<string>121.5062</string>
		<key>停车信息</key>
		<string>10</string>
		<key>公交信息</key>
		<array>
			<string>123</string>
			<string>746</string>
		</array>
		<key>其他信息</key>
		<string></string>
		<key>北纬</key>
		<string>31.2844</string>
		<key>名称</key>
		<string>志超酒家(赤峰店)</string>
		<key>地址</key>
		<string>虹口区赤峰路180号(近密云路)</string>
		<key>电话</key>
		<string>021-65983664</string>
		<key>营业时间</key>
		<array>
			<string></string>
		</array>
		<key>餐厅特色</key>
		<array>
			<string>可以刷卡</string>
		</array>
	</dict>
	<dict>
		<key>东经</key>
		<string>121.5027</string>
		<key>停车信息</key>
		<string>10</string>
		<key>公交信息</key>
		<array>
			<string>817</string>
			<string>746</string>
			<string>910</string>
			<string>55</string>
			<string>554</string>
		</array>
		<key>其他信息</key>
		<string></string>
		<key>北纬</key>
		<string>31.2876</string>
		<key>名称</key>
		<string>Salabim意式餐厅(赤峰路店)</string>
		<key>地址</key>
		<string>杨浦区赤峰路66号(近同济大学)</string>
		<key>电话</key>
		<string>021-65976898</string>
		<key>营业时间</key>
		<array>
			<string>11:00</string>
			<string>22:00</string>
		</array>
		<key>餐厅特色</key>
		<array>
			<string>无线上网</string>
			<string>有下午茶</string>
		</array>
	</dict>
	<dict>
		<key>东经</key>
		<string>121.5085</string>
		<key>停车信息</key>
		<string>10</string>
		<key>公交信息</key>
		<array>
			<string>6</string>
			<string>713</string>
			<string>863</string>
			<string>14</string>
			<string>70</string>
			<string>220</string>
			<string>103</string>
			<string>地铁8号线</string>
		</array>
		<key>其他信息</key>
		<string></string>
		<key>北纬</key>
		<string>31.2718</string>
		<key>名称</key>
		<string>沈家花园(控江店)</string>
		<key>地址</key>
		<string>杨浦区控江路2053号(近打虎山路)</string>
		<key>电话</key>
		<string>021-65016086</string>
		<key>营业时间</key>
		<array>
			<string>9:30</string>
			<string>21:30</string>
		</array>
		<key>餐厅特色</key>
		<array>
			<string>可以刷卡</string>
			<string>免费停车</string>
			<string>可办大型聚会</string>
		</array>
	</dict>
	<dict>
		<key>东经</key>
		<string>121.5062</string>
		<key>停车信息</key>
		<string>10</string>
		<key>公交信息</key>
		<array>
			<string>55</string>
			<string>910</string>
			<string>61</string>
			<string>746</string>
			<string>79</string>
			<string>70</string>
			<string>962</string>
			<string>147</string>
			<string>地铁8号线</string>
			<string>地铁10号线</string>
		</array>
		<key>其他信息</key>
		<string></string>
		<key>北纬</key>
		<string>31.2726</string>
		<key>名称</key>
		<string>川杭人家</string>
		<key>地址</key>
		<string>虹口区大连路1599号骏丰国际财富广场3楼(近四平路)</string>
		<key>电话</key>
		<string>4006605757</string>
		<key>营业时间</key>
		<array>
			<string>11:00</string>
			<string>22:00</string>
		</array>
		<key>餐厅特色</key>
		<array>
			<string>可以刷卡</string>
			<string>免费停车</string>
		</array>
	</dict>
	<dict>
		<key>东经</key>
		<string>121.4954</string>
		<key>停车信息</key>
		<string>10</string>
		<key>公交信息</key>
		<array>
			<string>960</string>
			<string>115</string>
			<string>817</string>
			<string>829</string>
			<string>959</string>
			<string>地铁8号线</string>
		</array>
		<key>其他信息</key>
		<string></string>
		<key>北纬</key>
		<string>31.2823</string>
		<key>名称</key>
		<string> 宫の寿司</string>
		<key>地址</key>
		<string>虹口区赤峰路322号(近同济大学)</string>
		<key>电话</key>
		<string>13162483268</string>
		<key>营业时间</key>
		<array>
			<string>10:30</string>
			<string>22:30</string>
		</array>
		<key>餐厅特色</key>
		<array>
			<string>可送外卖</string>
		</array>
	</dict>
	<dict>
		<key>东经</key>
		<string>121.5088</string>
		<key>停车信息</key>
		<string>10</string>
		<key>公交信息</key>
		<array>
			<string>70</string>
			<string>220</string>
			<string>713</string>
			<string>871</string>
		</array>
		<key>其他信息</key>
		<string></string>
		<key>北纬</key>
		<string>31.2727</string>
		<key>名称</key>
		<string>虹林阁</string>
		<key>地址</key>
		<string>杨浦区控江路2102号(近打虎山路)</string>
		<key>电话</key>
		<string>021-65797750</string>
		<key>营业时间</key>
		<array>
			<string></string>
		</array>
		<key>餐厅特色</key>
		<array>
			<string>供应夜宵</string>
			<string>可以刷卡</string>
		</array>
	</dict>
	<dict>
		<key>东经</key>
		<string>121.5125</string>
		<key>停车信息</key>
		<string>10</string>
		<key>公交信息</key>
		<array>
			<string>6</string>
			<string>70</string>
			<string>103</string>
			<string>220</string>
			<string>14</string>
			<string>863</string>
			<string>713</string>
			<string>871</string>
			<string>地铁8号线</string>
		</array>
		<key>其他信息</key>
		<string></string>
		<key>北纬</key>
		<string>31.2730</string>
		<key>名称</key>
		<string>尖东茶楼</string>
		<key>地址</key>
		<string>杨浦区许昌路1598号(近控江路)</string>
		<key>电话</key>
		<string>021-65135044</string>
		<key>营业时间</key>
		<array>
			<string></string>
		</array>
		<key>餐厅特色</key>
		<array>
			<string>可送外卖</string>
		</array>
	</dict>
	<dict>
		<key>东经</key>
		<string>121.4808</string>
		<key>停车信息</key>
		<string>10</string>
		<key>公交信息</key>
		<array>
			<string>21</string>
			<string>79</string>
			<string>933</string>
			<string>537</string>
			<string>115</string>
			<string>732</string>
			<string>地铁3号线</string>
			<string>地铁8号线</string>
		</array>
		<key>其他信息</key>
		<string></string>
		<key>北纬</key>
		<string>31.2764</string>
		<key>名称</key>
		<string>锦江大厨</string>
		<key>地址</key>
		<string>虹口区西江弯路718号(近中山北一路)</string>
		<key>电话</key>
		<string>021-65163286</string>
		<key>营业时间</key>
		<array>
			<string></string>
		</array>
		<key>餐厅特色</key>
		<array>
			<string>可以刷卡</string>
			<string>免费停车</string>
			<string>供应早餐</string>
		</array>
	</dict>
	<dict>
		<key>东经</key>
		<string>121.5072</string>
		<key>停车信息</key>
		<string>10</string>
		<key>公交信息</key>
		<array>
			<string>地铁10号线</string>
		</array>
		<key>其他信息</key>
		<string></string>
		<key>北纬</key>
		<string>31.2821</string>
		<key>名称</key>
		<string>聚点时尚烧烤主题餐厅(彰武路店)</string>
		<key>地址</key>
		<string>杨浦区彰武路20号同济联合广场e楼209号铺</string>
		<key>电话</key>
		<string>021-55137936</string>
		<key>营业时间</key>
		<array>
			<string>10:00</string>
			<string>22:00</string>
		</array>
		<key>餐厅特色</key>
		<array>
			<string>可以刷卡</string>
			<string>供应夜宵</string>
		</array>
	</dict>
	<dict>
		<key>东经</key>
		<string>121.5186</string>
		<key>停车信息</key>
		<string>10</string>
		<key>公交信息</key>
		<array>
			<string>70</string>
			<string>843</string>
			<string>6</string>
			<string>871</string>
			<string>14</string>
			<string>554</string>
			<string>713</string>
		</array>
		<key>其他信息</key>
		<string></string>
		<key>北纬</key>
		<string>31.2755</string>
		<key>名称</key>
		<string>迈玛瑞</string>
		<key>地址</key>
		<string>杨浦区江浦路1526号(近控江路)</string>
		<key>电话</key>
		<string>021-65632516</string>
		<key>营业时间</key>
		<array>
			<string>8:00</string>
			<string>20:00</string>
		</array>
		<key>餐厅特色</key>
		<array>
			<string>可以刷卡</string>
			<string>免费停车</string>
		</array>
	</dict>
	<dict>
		<key>东经</key>
		<string>121.5036</string>
		<key>停车信息</key>
		<string>10</string>
		<key>公交信息</key>
		<array>
			<string>70</string>
			<string>79</string>
			<string>746</string>
			<string>6</string>
			<string>853</string>
			<string>222</string>
			<string>地铁8号线</string>
		</array>
		<key>其他信息</key>
		<string></string>
		<key>北纬</key>
		<string>31.2734</string>
		<key>名称</key>
		<string>权金城(杨浦总店)</string>
		<key>地址</key>
		<string>杨浦区大连路1548号莱克大厦底楼(近阜新路)</string>
		<key>电话</key>
		<string>021-65799989</string>
		<key>营业时间</key>
		<array>
			<string>11:00</string>
			<string>20:00</string>
		</array>
		<key>餐厅特色</key>
		<array>
			<string>可以刷卡</string>
			<string>免费停车</string>
		</array>
	</dict>
	<dict>
		<key>东经</key>
		<string>121.5126</string>
		<key>停车信息</key>
		<string>10</string>
		<key>公交信息</key>
		<array>
			<string>960</string>
			<string>14</string>
			<string>863</string>
			<string>地铁8号线</string>
		</array>
		<key>其他信息</key>
		<string></string>
		<key>北纬</key>
		<string>31.2748</string>
		<key>名称</key>
		<string>染山</string>
		<key>地址</key>
		<string>杨浦区本溪路282号(近鞍山路)</string>
		<key>电话</key>
		<string>021-55571838</string>
		<key>营业时间</key>
		<array>
			<string></string>
		</array>
		<key>餐厅特色</key>
		<array>
			<string>可以刷卡</string>
		</array>
	</dict>
	<dict>
		<key>东经</key>
		<string>121.5048</string>
		<key>停车信息</key>
		<string>10</string>
		<key>公交信息</key>
		<array>
			<string></string>
		</array>
		<key>其他信息</key>
		<string></string>
		<key>北纬</key>
		<string>31.2722</string>
		<key>名称</key>
		<string>菽心阁</string>
		<key>地址</key>
		<string>杨浦区大连路1536号(近阜新路)</string>
		<key>电话</key>
		<string>021-65020610</string>
		<key>营业时间</key>
		<array>
			<string></string>
		</array>
		<key>餐厅特色</key>
		<array>
			<string>可以刷卡</string>
		</array>
	</dict>
	<dict>
		<key>东经</key>
		<string>121.5080</string>
		<key>停车信息</key>
		<string>10</string>
		<key>公交信息</key>
		<array>
			<string>6</string>
			<string>14</string>
			<string>70</string>
			<string>220</string>
			<string>713</string>
			<string>地铁8号线</string>
		</array>
		<key>其他信息</key>
		<string></string>
		<key>北纬</key>
		<string>31.2747</string>
		<key>名称</key>
		<string>谭氏私房菜</string>
		<key>地址</key>
		<string>杨浦区控江路2065号(打虎山路)</string>
		<key>电话</key>
		<string>021-65021088</string>
		<key>营业时间</key>
		<array>
			<string>10:30</string>
			<string>21:30</string>
		</array>
		<key>餐厅特色</key>
		<array>
			<string>可以刷卡</string>
			<string>免费停车</string>
		</array>
	</dict>
	<dict>
		<key>东经</key>
		<string>121.5060</string>
		<key>停车信息</key>
		<string>10</string>
		<key>公交信息</key>
		<array>
			<string>79</string>
			<string>746</string>
			<string>653</string>
			<string>70</string>
			<string>962</string>
			<string>220</string>
			<string>地铁8号线</string>
		</array>
		<key>其他信息</key>
		<string></string>
		<key>北纬</key>
		<string>31.2715</string>
		<key>名称</key>
		<string>夏朵小厨</string>
		<key>地址</key>
		<string>杨浦区大连路1278号(近控江路)</string>
		<key>电话</key>
		<string>021-33777868</string>
		<key>营业时间</key>
		<array>
			<string>11:00</string>
			<string>23:00</string>
		</array>
		<key>餐厅特色</key>
		<array>
			<string>可以刷卡</string>
			<string>有下午茶</string>
		</array>
	</dict>
	<dict>
		<key>东经</key>
		<string>121.5078</string>
		<key>停车信息</key>
		<string>10</string>
		<key>公交信息</key>
		<array>
			<string></string>
		</array>
		<key>其他信息</key>
		<string></string>
		<key>北纬</key>
		<string>31.2806</string>
		<key>名称</key>
		<string>夏月小厨</string>
		<key>地址</key>
		<string>杨浦区彰武路38号(近同济大学正门)</string>
		<key>电话</key>
		<string>021-33626589</string>
		<key>营业时间</key>
		<array>
			<string></string>
		</array>
		<key>餐厅特色</key>
		<array>
			<string>可送外卖</string>
		</array>
	</dict>
	<dict>
		<key>东经</key>
		<string>121.4992</string>
		<key>停车信息</key>
		<string>10</string>
		<key>公交信息</key>
		<array>
			<string>910</string>
			<string>123</string>
			<string>55</string>
			<string>61</string>
			<string>863</string>
			<string>地铁8号线</string>
		</array>
		<key>其他信息</key>
		<string></string>
		<key>北纬</key>
		<string>31.2801</string>
		<key>名称</key>
		<string>新南华(四平店)</string>
		<key>地址</key>
		<string>虹口区四平路777号(近天宝路)</string>
		<key>电话</key>
		<string>021-36358807</string>
		<key>营业时间</key>
		<array>
			<string></string>
		</array>
		<key>餐厅特色</key>
		<array>
			<string>可以刷卡</string>
			<string>免费停车</string>
		</array>
	</dict>
	<dict>
		<key>东经</key>
		<string>121.5010</string>
		<key>停车信息</key>
		<string>10</string>
		<key>公交信息</key>
		<array>
			<string>55</string>
			<string>61</string>
			<string>910</string>
			<string>147</string>
			<string>地铁8号线</string>
		</array>
		<key>其他信息</key>
		<string></string>
		<key>北纬</key>
		<string>31.2748</string>
		<key>名称</key>
		<string>新雨花大酒店</string>
		<key>地址</key>
		<string>虹口区四平路851号1-5楼(大连西路口)</string>
		<key>电话</key>
		<string>021-65756667</string>
		<key>营业时间</key>
		<array>
			<string>11:00</string>
			<string>21:00</string>
		</array>
		<key>餐厅特色</key>
		<array>
			<string>可以刷卡</string>
			<string>免费停车</string>
		</array>
	</dict>
</array>
</plist>
